<header>
    <div class="navbar">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Restituo Logo" style="height:40px;vertical-align:middle;margin-right:8px;">
            Restituo Asociacion Civil
        </a>
        <nav>
            <a href="/">Inicio</a>
            <a href="#contacto">Contacto</a>
        </nav>
    </div>
</header>
