<header>
    <div class="navbar">
        <a href="/" class="logo">Restituo</a>
        <nav>
            <a href="/">Inicio</a>
            <a href="#hotal">El Hotal</a>
            <a href="#estancia">La Estancia</a>
            <a href="#chalet">El Chalet</a>
            <a href="#galeria">Galería</a>
            <a href="#contacto">Contacto</a>
        </nav>
    </div>
</header>
